@font-face {
    font-family: 'IvyOra Display';
    src: url('../fonts/IvyOraDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'IvyOra Display';
    src: url('../fonts/IvyOraDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'IvyOra Display';
    src: url('../fonts/IvyOraDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
}

:root {
    --bg-color: #590232;
    --page-color: #ffffff;
    --accent-color: #ff3366;
    --figure-bg-color: #e3e3e3;
    --body-font-family: 'IvyOra Display';
    --body-color: #000;
}

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

*:focus {
    outline: 0;
    box-shadow: none;
}

html, body {
    overflow-x: hidden;
    min-height: 100vh;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: var(--bg-color);
    font-size: 62.5%;
}

body {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--body-color);
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--body-color);
    text-decoration: none;
    transition: color 0.4s cubic-bezier(0.55, 0, 0.1, 1);

    &:hover, &:focus, &:active {
        color: var(--body-color);
    }
}

ul {
    list-style: none;
}

img, video {
    width: 100%;
    height: auto;
}

strong, .active {
    font-weight: 700;
}

.mobile-only {
    @media (orientation: landscape) {
        display: none;
    }
}

.desktop-only {
    @media (orientation: portrait) {
        display: none;
    }
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    z-index: 3;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
    // https://easings.net/#easeInOutQuart
    transition: top 0.95s cubic-bezier(0.76, 0, 0.24, 1) 0.3s; // 1.25 - 0.3 = 0.95

    img {
        width: 72%;
    }
}

.is-loaded {
    .preloader {
        top: 100vh;

        @supports (top: 100lvh) {
            top: 100lvh;
        }
    }
}

.parallax {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img, video {
        position: relative;
        will-change: transform;
    }
}

.transition {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

::selection {
    background-color: var(--accent-color);
    color: var(--body-color);
}

// https://stackoverflow.com/questions/5697067/css-for-grabbing-cursors-drag-drop/18294634#18294634
.grabbable {
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;

    &:active {
        cursor: grabbing;
    }
}

.logo {
    width: 30px;
    height: 30px;
}

h1 {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: clamp(48px, 12vw, 170px);
    line-height: 1.1;

    span {
        display: inline-block;
        position: relative;
        bottom: -0.12em;
        font-weight: 500;
        color: var(--accent-color);
    }

    @media (orientation: landscape) {
        margin-left: -1px;
    }
}

h2 {
    font-family: var(--body-font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    a {
        position: relative;
        overflow: visible;

        &:hover, &:focus, &:active {
            color: var(--accent-color);
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 100%;
            height: 1.5px;
            background-color: currentColor;
            transform: scaleX(0);
            transform-origin: right top;
            transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1);
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: left top;
        }
    }

    @media (orientation: landscape) {
        font-size: clamp(16px, 4vw, 48px);
        line-height: 1.3125em;
        margin-left: -1px;
    }
}

h3 {
    font-size: clamp(14px, 1.1vw, 32px);
}

main {
}

nav, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 25px;
    font-family: var(--body-font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    > * {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    @media (orientation: landscape) {
        padding: 40px 50px;
    }
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none;

    a {
        pointer-events: auto;
    }
}

article {
    max-width: 1800px;
    margin: 0 auto;
    background-color: var(--page-color);
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1800px;
    margin: 25px auto;
    padding: 0 25px;

    svg {
        margin: 0 auto;
        fill: var(--accent-color);
    }

    @media (orientation: landscape) {
        gap: 32px;
        margin: 50px auto;
        padding: 0;
    }
}

figure {
    line-height: 0;
    max-width: 1800px;
    margin: 25px auto;

    &:first-child {
        margin-top: 0;
    }

    &:first-of-type {
        margin: 0;
        padding: 0;
    }

    img, video {
        object-fit: cover;

        &.contain {
            object-fit: contain;
            transform: scale(0.8);
        }
    }

    figcaption {
        display: flex;
        padding: 6px 3px;
        line-height: initial;

        div {
            width: 50%;
        }
    }

    &.indent {
        padding: 0 25px;
    }

    &.diptych {
        display: flex;

        .image {
            width: 50%;
        }
    }

    @media (orientation: landscape) {
        margin: 50px auto;

        &.indent {
            width: 80%;
            padding: 0;
        }
    }
}

footer {
    background-color: var(--bg-color);

    a {
        color: #ffffff;

        &:hover, &:focus, &:active {
            color: #ffffff;
        }
    }
}

body {
    &.home {
        article {
            padding-top: 60px;

            @media (orientation: landscape) {
                padding-top: 60px;
            }
        }

        section {
            padding: 0 25px;

            &.projects {
                flex-wrap: wrap;
                flex-direction: row;
                gap: 5%;
                margin: 40px auto 10px;

                figure {
                    margin: 0;
                    padding: 0;
                    width: 47.5%;
                    margin-bottom: 5%;
                    background-color: var(--figure-bg-color);

                    img {
                        aspect-ratio: 1;
                    }
                }
            }

            @media (orientation: landscape) {
                padding: 0 50px;

                &.projects {
                    margin: 65px auto 5px;

                    figure {
                        width: 21.2%;
                    }
                }
            }
        }

        footer {
            a:first-of-type, a:last-of-type {
                visibility: hidden;
                pointer-events: none;
            }
        }
    }

    &.about {
        nav {
            > * {
                display: none;
            }

            a:first-of-type {
                display: flex;

                span {
                    display: none;
                }
            }

            @media (orientation: landscape) {
                position: fixed;
            }
        }

        section {
            justify-content: center;
            align-items: center;
            margin: 0;
            height: 100vh;

            h1 {
                @extend h2;
            }

            @media (orientation: landscape) {
                h1 {
                    width: 75%;
                }
            }
        }
    }

    &.project {
        nav {
            > * {
                display: none;
            }

            a:first-of-type {
                display: flex;

                span {
                    display: none;
                }
            }

            @media (orientation: landscape) {
                position: fixed;
            }
        }

        section {
            margin: 50px auto 80px;

            h1 {
                font-family: var(--body-font-family);
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;

                span {
                    display: block;
                    font-weight: 400;
                    color: inherit;
                }
            }

            div {
                font-family: var(--body-font-family);
                font-size: 20px;
                line-height: 26px;
            }

            > figcaption {
                position: absolute;
                top: -44px;
                right: 25px;
            }

            &.slider {
                margin: 25px auto;
                padding: 0 25px;

                .slider-wrapper {
                    width: 80vw;

                    .slider-container {
                        display: flex;
                        width: calc(100vw - 25px);
                        overflow-y: hidden;
                        overflow-x: auto;
                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        figure {
                            flex-shrink: 0;
                            width: 80vw;
                            margin: 0 6px 0 0;
                            padding: 0;
                            pointer-events: none;
                        }
                    }
                }
            }

            @media (orientation: landscape) {
                flex-direction: row;
                width: 82%;
                margin: 80px auto 130px;

                h1 {
                    font-size: 24px;
                    line-height: 31px;
                    width: 25%;
                }

                div {
                    font-size: 24px;
                    line-height: 31px;
                    width: 75%;
                }

                > figcaption {
                    top: -74px;
                    right: 0;
                }

                &.slider {
                    width: 80%;
                    margin: 50px auto;
                    padding: 0;

                    .slider-wrapper {
                        .slider-container {
                            width: 90vw;

                            figure {
                                margin: 0 25px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
